<footer class="footer">

    <div class="footer-container">

        <!-- Logo & About -->
        <div class="footer-box">

            <h2> 🌿Krishi Sarthi</h2>

            <p>
                Krishi Sarthi is a smart agriculture platform designed to help farmers make better farming decisions using technology.
            </p>

        </div>

        <!-- Quick Links -->
        <div class="footer-box">

            <h3>Quick Links</h3>

            <ul>

                <li><a href="/">Home</a></li>

                <li><a href="/about">About</a></li>

                <li><a href="/dashboard">Dashboard</a></li>

                <li><a href="/contact">Contact</a></li>

            </ul>

        </div>

        <!-- Services -->
        <div class="footer-box">

            <h3>Services</h3>

            <ul>

                <li><a href="/crop">Crop Recommendation</a></li>

                <li><a href="/disease">Disease Prediction</a></li>

                <li><a href="/profit">Profit Prediction</a></li>

                <li><a href="/cost">Estimated Cost</a></li>

                <li><a href="/weather">Weather Forecast</a></li>

                <li><a href="/schemes">Govt. Schemes</a></li>

            </ul>

        </div>

        <!-- Contact -->
        <div class="footer-box">

            <h3>Contact</h3>

            <p>
                <i class="fas fa-envelope"></i>
                support@krishisarthi.com
            </p>

            <p>
                <i class="fas fa-phone"></i>
                +91 98765 43210
            </p>

            <p>
                <i class="fas fa-location-dot"></i>
                India
            </p>

            <div class="social-icons">

                <a href="#"><i class="fab fa-facebook-f"></i></a>

                <a href="#"><i class="fab fa-instagram"></i></a>

                <a href="#"><i class="fab fa-linkedin-in"></i></a>

                <a href="#"><i class="fab fa-github"></i></a>

            </div>

        </div>

    </div>

    <hr>

    <div class="footer-bottom">

        <p>
            © 2026 Krishi Sarthi. All Rights Reserved.
        </p>

    </div>

</footer>